#posts {
    width: 100%;
    align-items: center;
}

#post {
    padding: 20px;
    
}

#main {
    flex-direction: column;
    align-items: center;
}

#search-input {
    margin-right: 20px;
}

#nav-image {
    margin-right: 5px;
}

.animated-border {
  position: relative;
  overflow: hidden;
}
.animated-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px; /* adjust thickness */
  width: 50%;  /* initial length of the line */
  background-color: var(--tw-border-opacity) var(--tw-border-color);
  animation: slide-border 3s ease-in-out infinite alternate;
}

@keyframes slide-border {
  from { transform: translateX(0%); }
  to { transform: translateX(100%); }
}







